.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    height:80px;
    width: 80px;
}

.nav-items{
  font-size: 20px;
}
.nav-items>ul{
    display: flex;
    list-style-type: none;
}
.nav-items>ul>li{
    margin: 5px;
    padding-right: 40px;
}

.res-card{
    width: 200px;
    height: 300px;
    
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.search{
    padding: 10px;

}

.cart-image{
    width: 190px;
    height: 100px;
margin: 5px;

}

.res-container{
    display: flex;
    flex-wrap: wrap;
   gap: 15px;
}